body {
    display: block;
    margin: 0;
    background: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-jplenio-1103970.jpg&fm=jpg') no-repeat center center fixed;
    font-family: 'Roboto', sans-serif;
    color: white;

}

form {
    background: white;
    padding: 30px; /* Increased padding for better content breathing space */
    border-radius: 12px; /* More pronounced border-radius for a modern look */
    border: none; /* Removing the border for a cleaner design */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1); /* Multi-layer shadows for depth */
    width: 100%;
    max-width: 380px; /* Optimal width for form fields */
    margin: 75px auto 75px; /* Consistent vertical margin */
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: scale(1); /* Initial scale for animation */
}

form:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.06), 0 8px 8px rgba(0, 0, 0, 0.12);
}


input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: white;
    border: 2px solid #f0f0f0; /* Subtle border */
    border-radius: 6px; /* Uniform border-radius */
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.06); /* Subtle inset shadow for depth */
    font-size: 16px; /* Accessible font size */
    outline: none;
    transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    border-color: #007BFF; /* Bright focus color */
    box-shadow: 0 0 0 3px rgba(0,123,255,0.25); /* Glow effect for focus */
}

input::placeholder {
    color: #aaaaaa;
    font-size: 16px;
}

label {
    margin-top: 20px;
    color: #4a6c73;
    font-weight: 100;
    font-size: 1em;
}

.button, input[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 25px;
    color: white;
    background-color: rgba(43, 57, 79, 0.5);
}

.button:hover, input[type="submit"]:hover {
    background-color: rgba(43, 57, 79, 0.7);
}

.error-message {
    color: #ff6347;
    font-size: 0.9rem;
    margin-top: 10px;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}

.signup-header {
    color: #fff;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 2em;
}

.project-description {
    color: #ddd;
    text-align: center;
    margin-bottom: 20px;
    max-width: 500px;
}
