
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 120px;
}


form {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

form p {
    margin-bottom: 15px;
    margin-top: 100px;
}

form, .main-content {
    margin-top: 20px;  /* Adjust as needed to ensure no overlap */
}



label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="text"],
input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"],
button.button {
    cursor: pointer;
    background-color: #546a8c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button.button:hover {
    background-color: #3c5c7e;
}


button.button {
    background-color: #3c5c7e;
}

button.button:hover {
    background-color: #ff0000;
}
