

.site-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(27, 35, 47, 0.6);
    color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 80px;


}


.logo-link {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.logo {
    height: 100px;
    width: auto;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 40px;
    flex-grow: 1;
    color: #FFFFFF;
}

.buttons-container {
    display: flex;
}

.logout-button .logout-link {
    padding: 8px 15px;
    margin-right: 20px;
    background: linear-gradient(to right, #0596b1 0%, #047a91 100%);
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    cursor: pointer;
}

.logout-button .logout-link:hover {
    background: linear-gradient(to right, #910404 0%, #f10606 100%);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.myprofile-button .myprofile-link {
    padding: 8px 15px;
    margin-right: 20px;
    background: linear-gradient(to right, #0596b1 0%, #047a91 100%);
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    cursor: pointer;
}

.myprofile-button .myprofile-link:hover {
    background: linear-gradient(to right, #03657d 0%, #025367 100%);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}






