/* General body styling */
body {
    background-color: white;
    background-image: linear-gradient(to right, #023554, #779095, #9eada8, #efead8);
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}


.container {
    width: 90%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 30px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgba(0, 51, 102, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

table:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    background-color: #1b232f;
    color: #ffffff;
    font-size: 1.1em;
    text-transform: uppercase;
}

td {
    background-color: rgba(0, 51, 102, 0.05);
    color: white;
}

tbody tr:hover {
    background-color: rgba(0, 51, 102, 0.1);
}


.high-status {
    border: 2px solid red;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.1);
}


.button {
    background-color: #2e3b4e;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 5px;
    display: inline-block;
}

.button:hover {
    background-color: #1f2a38;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.go-back {
    position: fixed;
    bottom: 50px;
    left: 20px;
    background-color: #2e3b4e;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.go-back:hover {
    background-color: #ff0000;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.add-subtask {
    position: fixed;
    bottom: 50px; /* Increased bottom spacing */
    right: 20px;
}

.error {
    color: #ff6666;
    font-weight: bold;
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.update-buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}


.progress-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.progress-labels .label-start, .progress-labels .label-end {
    color: white;
}
