body {
    background-color: white;
    background-image: linear-gradient(to right, #023554, #779095, #9eada8, #efead8);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #023554;
}

.project-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #559bad;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="description"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    background-color: #6d8a9f;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 5px 0 0;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: #559bad;
    color: #000000;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.delete-button {
    background-color: #d9534f;
}

.delete-button:hover {
    background-color: #c9302c;
    color: #ffffff;
}

.cancel-button {
    background-color: #f0ad4e;
}

.cancel-button:hover {
    background-color: #ec971f;
    color: #ffffff;
}

.button-group {
    display: flex;
    justify-content: center;
    width: 100%;
}
