<header class="site-header">
    <button onclick="window.location.href='/project/frontpage'" class="logo-link">
        <link th:href="@{/main.css}" rel="stylesheet">
        <img src="https://i.pinimg.com/originals/c3/90/1a/c3901af7776cb18611068bea31f3fcd3.png" alt="AlphaCalc Logo" class="logo">
    </button>
    <div class="header-title">
        <a href="/project/frontpage" class="header-title"> AlphaCalc</a>
        </div>

    <div class="login-button">
        <a href="/project/user/login" class="login-button">Log out</a>
    </div>

</header>

