<head>
    <link th:href="@{/headerloggedin.css}" rel="stylesheet">
</head>
<header class="site-header">
    <a href="/project" class="logo-link">
        <img src="https://i.pinimg.com/originals/c3/90/1a/c3901af7776cb18611068bea31f3fcd3.png" alt="AlphaCalc Logo" class="logo">
    </a>
    <div class="header-title">AlphaCalc</div>
    <div class="myprofile-button">
        <a href="/project/profile" class="myprofile-link">My Profile</a>
    </div>

    <div class="logout-button">
        <a href="/project/user/logout" class="logout-link">Log out</a>
    </div>

</header>
