<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your  projects</title>
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body>


<table>
    <thead>
    <tr>
        <a th:text="${project.name}">Project name</a>
        <a th:text="${task.name}">Task name</a>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td>
            <p> Name: <strong th:if="${usersassigned}" th:text="${user.username}"></strong></p>


        </td>
    </tr>

    </tbody>
</table>
<p>
    <a th:href="@{'/project/overview'}">
        <button type="button" class="button">Go back</button>
    </a>
</p>
</body>
</html>