<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dine  projekter</title>
    <div th:replace="~{fragments/headerloggedin :: header}"></div>
</head>
<body>


<table>
    <thead>
    <tr>
        <a th:text="${project.name}">Projektnavn</a>
        <a th:text="${task.name}">Tasknavn</a>
    </tr>
    </thead>
    <tbody>
    <tr th:each="String : ${users}">
        <td>
            <p> Brugernavn: <strong th:if="${usersassigned}" th:text="${String}"></strong></p>


        </td>
    </tr>

    </tbody>
</table>
<p>
    <a th:href="@{'/project/overview'}">
        <button type="button" class="button">Gå tilbage</button>
    </a>
</p>
</body>
</html>