<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create project</title>
    <div th:replace="~{fragments/headerloggedin :: header}"></div>

</head>


<form action="/project/save" th:object="${project}" method="post">
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}"/>
    </p>
    <p>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" th:field="*{description}"/>
    </p>
    <label for="deadline">Deadline:</label>

    <input type="date" id="deadline" name="deadline" value="2024-01-01" min="2024-01-01" max="2040-12-31" th:field="*{deadline}" />
    <br>
    <input type="submit" value="Create project" /></form>
    <a th:href="@{'/project/frontpage'}">
        <button type="button" class="button">Cancel</button>
    </a>


</form>

</body>
</html>