<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create subproject</title>
    <div th:replace="~{fragments/header :: header}"></div>

</head>
<body>

<form th:action="@{'/project/' + ${projectname} + '/save'}" th:object="${subproject}" method="post">
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}"/>
    </p>
    <p>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" th:field="*{description}"/>
    </p>

    <br>
    <input type="submit" value="Create subproject" /></form>



</body>
</html>