<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaCalc</title>
    <link th:href="@{/frontpage.css}" rel="stylesheet">
    <link th:href="@{/headerloggedin.css}" rel="stylesheet">
</head>

<body>
<div th:replace="~{fragments/headerloggedin :: header}"></div>

<main>
    <h1 class="welcome-heading">Velkommen til din AlphaCalc profil!</h1>
    <p class="project-description">Se dine projekter eller opret et nyt projekt.</p>



    <div class="button-container">
        <div class="button-wrapper">
            <a th:href="@{'/project/create'}">
                <button type="button" class="button">Opret projekt</button>
            </a>
        </div>
        <div class="button-wrapper">
            <a th:href="@{'/project/overview'}">
                <button type="button" class="button">Vis projekter</button>
            </a>
        </div>
    </div>




</main>

</body>

</html>
