<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AlphaCalc</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<!-- Thymeleaf header inclusion -->
<div th:replace="~{fragments/header :: header}"></div>

<main>
    <h1>AlphaCalc, a project management tool</h1>
    <p>
        <a th:href="@{'/project/create'}">
            <button type="button" class="button">Create project</button>
        </a>
        <a th:href="@{'/project/overview'}">
            <button type="button" class="button">See projects</button>
        </a>
    </p>
</main>
</body>
</html>
