<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/profilepage.css}" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet">
    <link th:href="@{/headerloggedin.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/headerloggedin :: header}"></div>
<div class="container">
    <div class="user-info">
        <h1>Din information</h1>
        <p>Brugernavn <strong th:text="${user.username}"></strong></p>
        <p>Skills <strong th:text="${user.skillsSetup}"></strong></p>
        <p>Fornavn <strong th:text="${user.firstName}"></strong></p>
        <p>Efternavn <strong th:text="${user.lastName}"></strong></p>
        <p>Email <strong th:text="${user.email}"></strong></p>
        <p>Telefon <strong th:text="${user.phoneNumber}"></strong></p>
        <p>Adresse: <strong th:text="${user.streetName}"></strong> <strong th:text="${user.streetNumber}"></strong>, <strong th:text="${user.postNumber}"></strong></p>
        <p><strong th:text="${user.city}"></strong>, <strong th:text="${user.country}"></strong></p>
        <a href="profile/edit">
            <button type="button" class="button">Opdater dine oplysninger</button>
        </a>

    </div>

    <div class="project-section">
        <h2>Dine tildelte projekter</h2>
        <table class="project-table">
            <thead>
            <tr>
                <th>Projekt Navn</th>
                <th>Beskrivelse</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td><strong th:text="${project.name}"></strong></td>
                <td><strong th:text="${project.description}"></strong></td>
                <td><strong th:text="${project.deadline}"></strong></td>
                <td>
                    <a th:href="@{ ${project.name} + '/subprojects'}">
                        <button type="button" class="button">Se Projekt</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="project-section">
        <h2>Projekter du administrerer</h2>
        <table class="managed-project-table">
            <thead>
            <tr>
                <th>Projekt navn</th>
                <th>Beskrivelse</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${managedprojects}">
                <td><strong th:text="${project.name}"></strong></td>
                <td><strong th:text="${project.description}"></strong></td>
                <td><strong th:text="${project.deadline}"></strong></td>
                <td>
                    <a th:href="@{ ${project.name} + '/subprojects'}">
                        <button type="button" class="button">Se projekt</button>
                    </a>
                    <a th:href="@{ ${project.name} + '/edit'}">
                        <button type="button" class="button">Rediger projekt</button>
                    </a>
                    <a th:href="@{ ${project.name} + '/delete'}">
                        <button type="button" class="button delete-button">Slet projekt</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <p>
        <a th:href="@{'/project/frontpage'}">
            <button type="button" class="button">Tilbage</button>
        </a>
    </p>
    <p>
        <a th:href="@{'/project/yourarchive'}">
            <button type="button" class="button">Se Arkiv</button>
        </a>
    </p>
</div>
</body>
</html>
