<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/profilepage.css}" rel="stylesheet">
    <link th:href="@{/headerloggedin.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/headerloggedin :: header}"></div>
<table>
    <thead>
    <tr>
        <td>
            <div class="user-info">
                <h1>Your account info</h1>
            <p>Username: <strong th:text="${user.username}"></strong></p>
            <p>First name: <strong th:text="${user.firstName}"></strong></p>
            <p>Last name: <strong th:text="${user.lastName}"></strong></p>
            <p>Email: <strong th:text="${user.email}"></strong></p>
            <p>Phone number: <strong th:text="${user.phoneNumber}"></strong></p>
            <p>Address: <strong th:text="${user.streetName}"></strong>
                <strong th:text="${user.streetNumber}"></strong>,
                <strong th:text="${user.postNumber}"></strong></p>
            <p><strong th:text="${user.city}"></strong>,
                <strong th:text="${user.country}"></strong></p>
            </div>
        </td>
    </tr>
    </thead>
</table>
<br>
<table>
    <thead>
    <th>Your assigned projects:</th>
    <tr th:each="project : ${projects}">
        <td>
            <p>Project name: <strong th:text="${project.name}"></strong></p>
            <p>Description: <strong th:text="${project.description}"></strong></p>
            <p>Deadline: <strong th:text="${project.deadline}"></strong></p>
            <p>
                <a th:href="@{ ${project.name} + '/subprojects'}">
                    <button type="button" class="button">Show project</button>
                </a>
            </p>
        </td>
    </tr>
    </thead>
</table>

<p>
    <a th:href="@{'/project'}">
        <button type="button" class="button">Go back</button>
    </a>
</p>
</body>
</html>
