<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/profilepage.css}">
    <link rel="stylesheet" th:href="@{/headerloggedin.css}">
</head>
<body>
<div th:replace="~{fragments/headerloggedin :: header}"></div>
<div class="container">
    <div class="user-info">
        <h1>Your Information</h1>
        <p>Username: <strong th:text="${user.username}"></strong></p>
        <p>First Name: <strong th:text="${user.firstName}"></strong></p>
        <p>Last Name: <strong th:text="${user.lastName}"></strong></p>
        <p>Email: <strong th:text="${user.email}"></strong></p>
        <p>Phone Number: <strong th:text="${user.phoneNumber}"></strong></p>
        <p>Address: <strong th:text="${user.streetName}"></strong>
            <strong th:text="${user.streetNumber}"></strong>,
            <strong th:text="${user.postNumber}"></strong></p>
        <p><strong th:text="${user.city}"></strong>,
            <strong th:text="${user.country}"></strong></p>
    </div>

    <div class="project-section">
        <h2>Your Assigned Projects</h2>
        <table class="project-table">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td><strong th:text="${project.name}"></strong></td>
                <td><strong th:text="${project.description}"></strong></td>
                <td><strong th:text="${project.deadline}"></strong></td>
                <td>
                    <a th:href="@{ ${project.name} + '/subprojects'}">
                        <button type="button" class="button">View Project</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="project-section">
        <h2>Projects You Manage</h2>
        <table class="managed-project-table">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${managedprojects}">
                <td><strong th:text="${project.name}"></strong></td>
                <td><strong th:text="${project.description}"></strong></td>
                <td><strong th:text="${project.deadline}"></strong></td>
                <td>
                    <a th:href="@{ ${project.name} + '/subprojects'}">
                        <button type="button" class="button">View Project</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <p>
        <a th:href="@{'/project/frontpage'}">
            <button type="button" class="button">Go Back</button>
        </a>
    </p>
</div>
</body>
</html>
