<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaCalc</title>
    <link th:href="@{/showsubprojects.css}" rel="stylesheet">
</head>

<body>
<div th:replace="~{fragments/headerloggedin :: header}"></div>

<table>
    <thead>
    <tr>
        <th>Your projects:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td>
            <a th:href="@{ ${project.name} + '/subprojects'}">
                <button type="button" class="button" th:text="${project.name}"></button>
            </a>
            <p>Project manager: <strong th:text="${project.username}"></strong></p>
            <p>Description: <strong th:text="${project.description}"></strong></p>
            <p>Deadline: <strong th:text="${project.deadline}"></strong></p>
            <p>Estimated hours: <strong th:text="${project.estimatedHours}"></strong></p>
            <p>Actual used hours: <strong th:text="${project.usedHours}"></strong></p>
            <p th:if="${project.usedHours}>${project.estimatedHours}" th:text="${hoursError}"><p/>
            <p>
                <a th:if="${manager}"  th:href="@{ ${project.name} + '/edit'}">
                    <button type="button" class="button">Update project</button>
                </a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <a th:href="@{'/project/frontpage'}">
        <button type="button" class="button">Go home</button>
    </a>
</p>
</body>
</html>
