<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your  projects</title>
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body>
<a th:href="@{'/project/' + ${projectname} + '/' +  ${subprojectname} + '/create'}">
    <button type="button" class="button">Add task to project</button>
</a>

<table>
    <thead>
    <tr>
        <a th:text="${subprojectname}">Project name</a>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td>
            <p>Name: <strong th:text="${task.name}"></strong></p>
            <p>Description: <strong th:text="${task.description}"></strong></p>
            <p>Estimated hours: <strong th:text="${task.estimatedHours}"></strong></p>
            <p>Actual used hours: <strong th:text="${task.usedHours}"></strong></p>
            <p th:if="${task.usedHours}>${task.estimatedHours}" th:text="${hoursError}"><p/>
            <p>
                <a th:href="@{ ${task.name} + '/edit'}">
                    <button type="button" class="button">Update task</button>
                </a>
            </p>
            <p>
                <a th:href="@{ ${task.name} + '/edithours'}">
                    <button type="button" class="button">Update used hours</button>
                </a>
            </p>
            <p>
                <a th:href="@{ ${task.name} + '/assignments'}">
                    <button type="button" class="button">Show assigned users</button>
                </a>
            </p>
            <p>
                <a th:href="@{${task.name}+'/assign'}">
                    <button type="button" class="button">Assign a user</button>
                </a>
            </p>

        </td>
    </tr>
    </tbody>
</table>
<p>
    <a th:href="@{'/project/overview'}">
        <button type="button" class="button">Go back</button>
    </a>
</p>
</body>
</html>