<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Opdater dit projekt</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/headerloggedin :: header}"></div>


<form th:action="@{'/project/' +${project.name} + '/'+${subproject.name} + '/'+${task.name} + '/update'}" method="post" th:object="${task}">
  <p th:text="${project.name}">
  </p>

  <p>
    <input name="name" type="name" th:value="${task.name}"/>
  </p>

  <p>
    <label>Beskrivelse:</label>
    <input name="description" type="description" th:value="${task.description}"/>
  </p>
  <p>
    <label>Forventede timer:</label>
    <input name="estimatedHours" type="number" th:value="${task.estimatedHours}"/>
  </p>
  <br>
  <p>
    <button type="submit" class="button">Opdater task</button>

    <a th:href="@{'/project/frontpage'}">
      <button type="button" class="button">Fortryd</button>
    </a>
  </p>
</form>
</body>
</html>