<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Your Project</title>
    <link th:href="@{/updatesubproject.css}" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet">
    <link th:href="@{/headerloggedin.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/headerloggedin :: header}"></div>

<div class="container">
    <form th:action="@{'/project/' + ${project.name} + '/' + ${subproject.name} + '/update'}" method="post" th:object="${subproject}">
        <p th:text="${project.name}"></p>

        <p>
            <label for="name">Navn</label>
            <input id="name" name="name" type="text" th:value="${subproject.name}"/>
        </p>

        <p>
            <label for="description">Beskrivelse</label>
            <input id="description" name="description" type="text" th:value="${subproject.description}"/>
        </p>

        <div class="button-container">
            <button type="submit" class="button">Opdater Subprojekt</button>

            <a th:href="@{'/project/frontpage'}">
                <button type="button" class="button cancel-button">Anullér</button>
            </a>
        </div>
    </form>
</div>
</body>
</html>