<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Subprojects</title>
    <link th:href="@{/updatesubproject.css}" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/headerloggedin :: header}"></div>

<div class="content">
    <table>
        <thead>
        <tr>
            <th colspan="2" th:text="${projectname}">Project Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subproject : ${subprojects}">
            <td>
                <a th:href="@{${subproject.name} + '/tasks'}" class="container">
                    <button type="button" class="button" th:text="${subproject.name}"></button>
                    <p>Description: <strong th:text="${subproject.description}"></strong></p>
                    <p>Estimated Hours: <strong th:text="${subproject.estimatedHours}"></strong></p>
                    <p>Used Hours: <strong th:text="${subproject.usedHours}"></strong></p>
                    <p th:if="${subproject.usedHours} > ${subproject.estimatedHours}" class="error" th:text="${hoursError}"></p>
                    <p th:if="${donesubprojects.contains(subproject)}"><b>DONE</b></p>
                </a>
                <div>
                    <a th:if="${manager}" th:href="@{${subproject.name} + '/edit'}">
                        <button type="button" class="button">Update Subproject</button>
                    </a>
                    <p th:if="${subprojectswithtasks.contains(subproject)}"><b>Dette subprojekt indeholder tasks</b></p>
                    <a th:if="${manager}" th:href="@{${subproject.name} + '/delete'}">
                        <button type="button" class="button">Delete Subproject</button>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <p class="go-back">
        <a th:href="@{'/project/overview'}">
            <button type="button" class="button">Go Back</button>
        </a>
    </p>

    <div class="add-subproject">
        <a th:if="${manager}" th:href="@{'/project/' + ${projectname} + '/create'}">
            <button type="button" class="button">Add Subproject</button>
        </a>
    </div>
</div>
</body>
</html>
